
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LifeShare</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
</head>

<body id="page-top">
    <div class="main_page">
    <!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light" id="mainNav">
    <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">LifeShare</a>
            <ul class="navbar-nav ml-auto pull-right">
                <li class="nav-item">
                    <a class="btn btn-outline-success buttonIcon pull-right" href = "/logout"><span class="buttonText">logout&nbsp;</span><i class='fa fa-sign-out'></i></a>
                </li>
            </ul>
    </div>
</nav>
    <header class="masthead" style="margin-bottom:100px;margin-top:10px;">
        <div class="intro-body">
            <div class="container" style="height: 100%">
            <%  if(banks && banks.length ) { %>
              For Blood Banks
<hr/>  <div class="row mt-5" >

                    <% for(var bank of banks) { %>
         <div class="col-lg-3 col-md-4 col-sm-5 col-10 mx-auto mt-4" id="<%= bank.email %>" >
            <div class="card">
                <div class="card-block"><center>
                    <h5 class="card-title"><%= bank.name %></h5>
                    <h6 class="card-text"><%= bank.email %></h6>
                    <h6 class="card-text"><%= bank.phoneNo %></h6>
                    <a class="btn btn-outline-info m-1" href="/profile/<%= bank.email %>" >View Profile <i class="fa fa-user"></i></a>

                    <div class="">
                        <a class="btn btn-outline-success m-1" href="/acceptDonor/<%= bank.email %>">Accept <i class="fa fa-check"></i></a>
                        <a class="btn btn-outline-danger m-1" href="/rejectDonor/<%= bank.email %>">Reject <i class="fa fa-ban"></i></a>
                    </div>
</center>
                </div>
            </div>
        </div>
      <% }%>
      </div>
    <%  } %>
 <%  if(users && users.length ) { %>
For Donors
<hr/>
 <div class="row mt-5" >
                    <%   for(var user of users) { %>
         <div class="col-lg-3 col-md-4 col-sm-5 col-10 mx-auto mt-4" id="<%= user.email %>" >
            <div class="card">
                <div class="card-block"><center>
                    <h5 class="card-title"><%= user.name %></h5>
                    <h6 class="card-text"><%= user.email %></h6>
                    <h6 class="card-text"><%= user.phoneNo %></h6>
                    <a class="btn btn-outline-info m-1" href="/profile/<%= user.email %>" >View Profile <i class="fa fa-user"></i></a>

                    <div class="">
                        <a class="btn btn-outline-success m-1" href="/acceptDonor/<%= user.email %>">Accept <i class="fa fa-check"></i></a>
                        <a class="btn btn-outline-danger m-1" href="/rejectDonor/<%= user.email %>">Reject <i class="fa fa-ban"></i></a>
                    </div>
</center>
                </div>
            </div>
        </div>
       <% }%>
      </div>
    <%  } %>
            </div>
        </div>
    </header>



    <footer>
        <div class="text-center mx-3">
            <div class="pull-left">Copyright &copy; LifeShare 2018</div>
            <div class="pull-right"> created by Anubhav and Jyoti</div>
        </div>
    </footer>
</div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
